.banner {
    font-size: 2rem;
    color: var(--ltgreen);
    padding: 8px 8px 8px 12px;
}

.navBar {
    display:grid;
    grid-template-columns: 40px auto 40px;
}

.heading {
    margin: auto;
}

.burger {
   
}